body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #13032c;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}
h1 {
    text-align: center;
    color: #333;
}
#taskInput {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
}
#addTask {
    padding: 8px 15px;
    background-color: #011b18;
    color: white;
    border: none;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 4px;
}
.deleteBtn, .editBtn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}
.editBtn {
    background-color: #2ecc71;
}